<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ project_name }} {{ app_name }}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/app.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="root">
        <header class="header">
            {{ include('@NdewezWebHomeCommon/header.html.twig') }}
        </header>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                {{ include('@NdewezWebHomeCommon/menu.html.twig') }}
            </div>
        </nav>

        <div class="body">

            {% block breadcrumb %}{% endblock %}

            <div class="flash" data-prototype="{{ include('@NdewezWebHomeCommon/flashPrototype.html.twig') }}">
                {{ include('@NdewezWebHomeCommon/flash.html.twig') }}
            </div>

            {% block body %}{% endblock %}
        </div>
    </body>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('public/app.js') }}" ></script>
    {% endblock %}
</html>
